:root{
    --green:#1ABA1A;
    --white: #ffffff;
    --yellow: #ffb270;
    --backgroundcolor: #F0F7ff;
    --grey: #999999;
}
*{
    margin: 10px;;
    padding: 0;
}
.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    padding: 10px 20px;
    background-color: var(--white);
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: var(--green);
}

.rightNav {
    text-align: right;
}

#search {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn {
    background-color: var(--green);
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #000;
    /* Change the background color on hover */
    color: #ffd700;
}
.maincontent{
    width: 85vw;
    height: 100vh;
    background-color: var(--green);
}

/*style.css*/
.login {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 80%;
    text-align: center;
    align-items: center;
    padding-right: 10%;
    
}
.sr{
    display: block;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15%;
}

h1 {
    color: #4CAF50;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}


        body {
            font-family: Arial, sans-serif;
        }

        footer {
            display: flex;
            justify-content: space-around;
            background-color: var(--white);
            color: #181414;
            padding: 20px;
        }

        .column {
            width: 27%;
        }

        p {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .lo{
            color: var(--green);
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }
   
